In [75]:
#importing basic packages
import pandas as pd
import numpy as np

In [76]:
#Loading the data
df1 = pd.read_csv('Input1.csv')
df1.head()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,MIN,ScaleMax,ScaleMin,Decimal
0,35827,10,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference (mps),NaN,0,REAL : Float,0,0x16464,10000.0,-10000.0,10000.0,-10000.0,0.0
1,35828,10,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference (mps),NaN,0,REAL : Float,0,0x16468,10000.0,-10000.0,10000.0,-10000.0,0.0
2,35829,10,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference (mps),NaN,0,REAL : Float,0,0x1646c,10000.0,-10000.0,10000.0,-10000.0,0.0
3,35830,10,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback (mps),NaN,0,REAL : Float,0,0x16470,10000.0,-10000.0,10000.0,-10000.0,0.0
4,35831,10,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback (mps),NaN,0,REAL : Float,0,0x16474,10000.0,-10000.0,10000.0,-10000.0,0.0

In [77]:
# Getting information about data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ItemId      19 non-null     int64
 1   ComputerId  19 non-null     int64
 2   ItemName    19 non-null     object
 3   Comment     19 non-null     object
 4   Unit        0 non-null      float64
 5   C/S/ID      19 non-null     int64
 6   DataType    19 non-null     object
 7   BitPos      19 non-null     int64
 8   Address     19 non-null     object
 9   MAX         18 non-null     float64
 10  MIN         18 non-null     float64
 11  ScaleMax    18 non-null     float64
 12  ScaleMin    18 non-null     float64
 13  Decimal     18 non-null     float64
dtypes: float64(6), int64(4), object(4)
memory usage: 2.2+ KB

In [78]:
#Loading the data
df2 = pd.read_csv('Input2.csv')
df2.head()

,Date,Time,Milli_Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,06-05-2022,21:58:33,140,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,06-05-2022,21:58:33,145,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,06-05-2022,21:58:33,150,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,06-05-2022,21:58:33,155,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,06-05-2022,21:58:33,160,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [79]:
# Getting information about data
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12751 entries, 0 to 12750
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               12751 non-null  object
 1   Time               12751 non-null  object
 2   Milli_Sec          12751 non-null  int64
 3   L_R1SDW_SPDREF     12751 non-null  float64
 4   L_R1SDD_SPDREF     12751 non-null  float64
 5   L_R1SDL_SPDREF     12751 non-null  int64
 6   L_R1SDW_SPDFBK     12751 non-null  float64
 7   L_R1SDD_SPDFBK     12751 non-null  float64
 8   L_R1SDL_SPDFBK     12751 non-null  int64
 9   L_R1_ODG_AUX_B07   12751 non-null  int64
 10  RM1_RUNDOWN_ID_HS  12751 non-null  int64
 11  L_R1SD_WS_GAP      12751 non-null  float64
 12  L_R1SD_DS_GAP      12751 non-null  float64
 13  L_R1SD_WS_SPDREF   12751 non-null  float64
 14  L_R1SD_DS_SPDREF   12751 non-null  float64
 15  L_R1SDLS_SPDREF    12751 non-null  int64
 16  L_R1SD_WS_SPDFBK   12751 non-null  float64
 17  L_R1SD_DS_SPDFBK   12751 non-null  float64
 18  L_R1SDLS_SPDFBK    12751 non-null  int64
 19  L_R1SD_WS_CUR      12751 non-null  int64
 20  L_R1SD_DS_CUR      12751 non-null  int64
 21  L_R1_CNT_PASS0     12751 non-null  int64
dtypes: float64(10), int64(10), object(2)
memory usage: 2.1+ MB

In [80]:
new_df1 = df1.iloc[: , [0, 2,3]].copy()
new_df1.head()

   ItemId        ItemName                                 Comment
0   35827  L_R1SDW_SPDREF  R1 Screw Down WS Speed Reference (mps)
1   35828  L_R1SDD_SPDREF  R1 Screw Down DS Speed Reference (mps)
2   35829  L_R1SDL_SPDREF  R1 Screw Down LS Speed Reference (mps)
3   35830  L_R1SDW_SPDFBK   R1 Screw Down WS Speed Feedback (mps)
4   35831  L_R1SDD_SPDFBK   R1 Screw Down DS Speed Feedback (mps)

In [81]:
new_df2 = df2.drop(["Milli_Sec"], axis = 1)
new_df2.head()

,Date,Time,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,RM1_RUNDOWN_ID_HS,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,06-05-2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,06-05-2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,06-05-2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,06-05-2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,06-05-2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [82]:
#defining the function to remove punctuation
comment=pd.Series(index=new_df1['Comment'])
comment.head()

C:\Users\SAUHAR~1\AppData\Local\Temp/ipykernel_24536/1105144319.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  comment=pd.Series(index=new_df1['Comment'])

Comment
R1 Screw Down WS Speed Reference (mps)   NaN
R1 Screw Down DS Speed Reference (mps)   NaN
R1 Screw Down LS Speed Reference (mps)   NaN
R1 Screw Down WS Speed Feedback (mps)    NaN
R1 Screw Down DS Speed Feedback (mps)    NaN
dtype: float64

In [83]:
new_df1['Unit']=comment.index.str.extract(r'\((\w+)\)', expand=True)

In [84]:
new_df1.head()

   ItemId        ItemName                                 Comment Unit
0   35827  L_R1SDW_SPDREF  R1 Screw Down WS Speed Reference (mps)  mps
1   35828  L_R1SDD_SPDREF  R1 Screw Down DS Speed Reference (mps)  mps
2   35829  L_R1SDL_SPDREF  R1 Screw Down LS Speed Reference (mps)  mps
3   35830  L_R1SDW_SPDFBK   R1 Screw Down WS Speed Feedback (mps)  mps
4   35831  L_R1SDD_SPDFBK   R1 Screw Down DS Speed Feedback (mps)  mps

In [85]:
new_df2.insert(2, "Time_Stamp", new_df2['Date'].astype(str) +" "+ new_df2["Time"], True)
new_df2=new_df2.drop(columns=['Date','Time'],axis=1)

In [87]:
new_df2.head()

,Time_Stamp,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,RM1_RUNDOWN_ID_HS,L_R1SD_WS_GAP,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,06-05-2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,06-05-2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,06-05-2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,06-05-2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,06-05-2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [89]:
=new_df2['Time_Stamp'].unique()
time_stamp_listprint (time_stamp_list)

['06-05-2022 21:58:33' '06-05-2022 21:58:34' '06-05-2022 21:58:35'
 '06-05-2022 21:58:36' '06-05-2022 21:58:37' '06-05-2022 21:58:38'
 '06-05-2022 21:58:39' '06-05-2022 21:58:40' '06-05-2022 21:58:41'
 '06-05-2022 21:58:42' '06-05-2022 21:58:43' '06-05-2022 21:58:44'
 '06-05-2022 21:58:45' '06-05-2022 21:58:46' '06-05-2022 21:58:47'
 '06-05-2022 21:58:48' '06-05-2022 21:58:49' '06-05-2022 21:58:50'
 '06-05-2022 21:58:51' '06-05-2022 21:58:52' '06-05-2022 21:58:53'
 '06-05-2022 21:58:54' '06-05-2022 21:58:55' '06-05-2022 21:58:56'
 '06-05-2022 21:58:57' '06-05-2022 21:58:58' '06-05-2022 21:58:59'
 '06-05-2022 21:59:00' '06-05-2022 21:59:01' '06-05-2022 21:59:02'
 '06-05-2022 21:59:03' '06-05-2022 21:59:04' '06-05-2022 21:59:05'
 '06-05-2022 21:59:06' '06-05-2022 21:59:07' '06-05-2022 21:59:08'
 '06-05-2022 21:59:09' '06-05-2022 21:59:10' '06-05-2022 21:59:11'
 '06-05-2022 21:59:12' '06-05-2022 21:59:13' '06-05-2022 21:59:14'
 '06-05-2022 21:59:15' '06-05-2022 21:59:16' '06-05-2022 21:59:17'
 '06-05-2022 21:59:18' '06-05-2022 21:59:19' '06-05-2022 21:59:20'
 '06-05-2022 21:59:21' '06-05-2022 21:59:22' '06-05-2022 21:59:23'
 '06-05-2022 21:59:24' '06-05-2022 21:59:25' '06-05-2022 21:59:26'
 '06-05-2022 21:59:27' '06-05-2022 21:59:28' '06-05-2022 21:59:29'
 '06-05-2022 21:59:30' '06-05-2022 21:59:31' '06-05-2022 21:59:32'
 '06-05-2022 21:59:33' '06-05-2022 21:59:34' '06-05-2022 21:59:35'
 '06-05-2022 21:59:36']

In [95]:
df = pd.DataFrame(columns=['event_timestamp','tag__id','tag__name','tag__desc','tag__value','tag__unit'])
df.head()

Empty DataFrame
Columns: [event_timestamp, tag__id, tag__name, tag__desc, tag__value, tag__unit]
Index: []

In [97]:
for x in time_stamp_list:
    df.loc[len(df.index)] = [x,'','','','','']

In [98]:
df.head()

       event_timestamp tag__id tag__name tag__desc tag__value tag__unit
0  06-05-2022 21:58:33
1  06-05-2022 21:58:34
2  06-05-2022 21:58:35
3  06-05-2022 21:58:36
4  06-05-2022 21:58:37